/*Layout*/
body{
	background: #BDBDBD;
	padding-top: 150px;
}
#home{
	overflow-x: hidden;
	clear:both;
}

/*MiDIA*/
/*`sm` applies to x-small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
	body{
		padding-top: 100px;
	}
	nav h1{
        font-size: 30px;
	}
	nav h2{
		font-size: 15px;
	}
	nav li a{
         font-size: 20px;
	}
	footer{
		font-size: 20px;
	}
 }

/*`md` applies to small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {  }

/*`lg` applies to medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { }

/*`xl` applies to large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) { }

/*`xxl` applies to x-large devices (large desktops, less than 1400px)*/
@media (max-width: 1399.98px) {  }
/*NAVEGAÇÃO*/
nav.navbar-transparent{
	padding: 15px 0px;
	background: rgba(0,0,0,0.6);
}
nav h2{
	letter-spacing: 0.1em;
}
ul a{
	font-size: 30px;
	color: white;
}
ul a:hover{
	color: #A4A4A4;
}
/*carousel*/
.capa{
	text-align: center;
	height: 250px;
}
/*rodape*/
.rodape{
	height: 100px;
	background: rgba(0,0,0,0.9);
}
h1 a{
	color: white;
}
h1 a:hover{
	color: #A4A4A4;
	text-decoration: none;
}